<div class="slider-container">
    <div class="slider">
      <div class="slider__item">
        <img src="assets/img/1.jpg" alt="">
        <span class="slider__caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<a href="">Далее >></a> </span>
      </div>
      <div class="slider__item">
        <img src="assets/img/2.jpg" alt="">
        <span class="slider__caption">2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, facilis.</span>
      </div>
      <div class="slider__item">
        <img src="assets/img/3.jpg" alt="">
        <span class="slider__caption">3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, culpa!</span>
      </div>
    </div>
      <div class="slider__switch slider__switch--prev" data-ikslider-dir="prev">
        <span><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"><path d="M13.89 17.418c.27.272.27.71 0 .98s-.7.27-.968 0l-7.83-7.91c-.268-.27-.268-.706 0-.978l7.83-7.908c.268-.27.7-.27.97 0s.267.71 0 .98L6.75 10l7.14 7.418z"/></svg></span>
      </div>
      <div class="slider__switch slider__switch--next" data-ikslider-dir="next">
        <span><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"><path d="M13.25 10L6.11 2.58c-.27-.27-.27-.707 0-.98.267-.27.7-.27.968 0l7.83 7.91c.268.27.268.708 0 .978l-7.83 7.908c-.268.27-.7.27-.97 0s-.267-.707 0-.98L13.25 10z"/></svg></span>
      </div>
  </div>



<!-- <p>dashboard works!</p>
<h1>{{ a | date : 'd-MMMM-y h:mm EEEE'}}</h1>
<app-box [x]="name" [y]="para"></app-box>
<Br />
<app-box [x]="'james'" [y]="'the stepping stone'"></app-box> -->
<!-- 
    1. currency
    2. date
    3. number
    4. decimal
    5. uppercase
    6. lowercase
    7. json
 -->
