<div class="modal fade" id="delModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <pre>{{ obj | json }}</pre> -->
                <h4>Delete {{ type }}</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete <b *ngIf="obj">{{ obj.title }}</b></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark p-3" #closeBtn data-dismiss="modal">NO</button>
                <button class="btn btn-info p-3" (click)="delete(closeBtn)">YES</button>
            </div>
        </div>
    </div>
</div>
