<h1>Contact</h1>

<div  *ngIf="a==15 && b=='indorefff'; else abc">

    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, porro nisi quo blanditiis deleniti, temporibus iste quibusdam rem eligendi, tempora esse consectetur! Sint aperiam aut totam voluptas vero culpa alias.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam odio vel voluptatibus necessitatibus placeat consequuntur similique obcaecati reiciendis quam facilis corporis deserunt, sequi libero vitae. Illo itaque dolor alias harum!</p>

</div>



<ng-template #abc>
    <h1>Indore</h1>
</ng-template>
