<div class="container my-4">
    <form [formGroup]="cateForm">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Add Category</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <!-- <p>{{ category.name }}</p> -->
                        <label for="">Category Name</label>
                        
                        <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid' : checkForm && cateForm.controls['name'].errors }"/>
                        <small *ngIf="checkForm && cateForm.controls['name'].errors" class="text-danger">Insert Product Category</small>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" (click)="add()" value="Add" class="btn btn-success" />
                </div>
            </div>
            
                
            
        </div>
    </div>
    </form>
</div>
