<%- include('header') %>
        <h1>Home Page</h1>
        <h2><%= name[2] %></h2>

        <% for(var a = 1; a <= 10; a++){ %>

            <h1><%= a*5 %></h1>

        <% } %>

        <% if(x==true){ %>
            <h1>hello</h1>
        <% }else{ %>
            <h1>Hi</h1>
        <% } %>

    </body>
</html>