<div class="container" style="min-height: 700px;">
    <form [formGroup]="passForm">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Change Your Current Password</h3>
            <div class="form-group">
                <label>Current Password</label>
                <input [ngClass]="{'is-invalid' : checkForm && passForm.controls['old_pass'].errors }" formControlName="old_pass" type="password" class="form-control" />
                <small *ngIf="errMsg" class="text-danger">{{ errMsg }}</small>
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input [ngClass]="{'is-invalid' : checkForm && passForm.controls['new_pass'].errors }" formControlName="new_pass" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label>Confirm New Password</label>
                <input formControlName="conf_new_pass" [ngClass]="{'is-invalid' : checkForm && passForm.controls['conf_new_pass'].errors }" type="password" class="form-control" />
            </div>
            <br />
            <input type="submit" (click)="submit()" value="Update" class="btn btn-primary" />
        </div>
        <br />
    </div>
    </form>
</div>
