<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h4>User Profile Page <a routerLink='/my-profile/update' style="color :#124578; font-size: 16px;">(Update)</a></h4>
            <table *ngIf="user" class="table table-bordered table-dark table-hover table-striped">
                <tr>
                    <td>Full Name</td>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <td>Username/Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{ user.city }}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{ user.state }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ user.gender }}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>{{ user.contact }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
