<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h4>User Profile Page</h4>
            <table class="table table-bordered table-dark table-hover table-striped">
                <tr>
                    <td>Full Name</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Username/Email</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>...</td>
                </tr>
            </table>
        </div>
    </div>
</div>
