<div class="container my-4" style="min-height: 600px;">
    <form [formGroup]="signupForm">
    
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Registration</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Full Name</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid' : signupForm.controls['name'].errors && checkForm }" />
                        <small *ngIf="signupForm.controls['name'].errors && checkForm" class="text-danger">Insert Your Full Name</small>
                    </div>
                    <div class="form-group">
                        <label for="">Email/Username</label>
                        <input type="text" formControlName="email" [ngClass]="{'is-invalid' : signupForm.controls['email'].errors && checkForm }" class="form-control" />
                        <div *ngIf="signupForm.controls['email'].errors && checkForm" class="text-danger">
                            <small *ngIf="signupForm.controls['email'].errors['required']">Insert your Email Id</small>
                            <small *ngIf="signupForm.controls['email'].errors['email']">Email Id is Not Correct</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <div class="input-group">

                            <input type="{{ x }}" (keyup)="strongPass()" formControlName="password" [ngClass]="{'is-invalid' : signupForm.controls['password'].errors && checkForm }" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn2 btn2-dark" (click)="showPass()" type="button" id="button-addon2"><i class="fa" [ngClass]="showPassClass" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        
                        <div class="progress my-3 bg-secondary">
                            <div class="progress-bar" [ngClass]="passClass" style="width:{{ passPer }}%">{{ passWord }}</div>
                          </div>
                        <small *ngIf="signupForm.controls['password'].errors && checkForm" class="text-danger">Insert Your Password</small>
                    </div>

                    
                    <div class="form-group">
                        <label for="">Re-Password</label>
                        <input type="password" formControlName="re_password" [ngClass]="{'is-invalid' : signupForm.controls['re_password'].errors && checkForm }" class="form-control" />
                        <div *ngIf="signupForm.controls['re_password'].errors && checkForm" class="text-danger">
                            <small *ngIf="signupForm.controls['re_password'].errors['required']">Insert Your Re-Password</small>
                            <small *ngIf="signupForm.controls['re_password'].errors['passErr']">Password and Re-Password does not match</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Address</label>
                        <textarea class="form-control" formControlName="address" [ngClass]="{'is-invalid' : signupForm.controls['address'].errors && checkForm }"></textarea>
                        <small *ngIf="signupForm.controls['address'].errors && checkForm" class="text-danger">Insert Your Address</small>
                    </div>

                    <div class="form-group">
                        <label>State</label>
                        <select (change)="getCity()" formControlName="state" class="form-control">
                            <option>Select</option>
                            <option *ngFor="let s of allState">{{ s }}</option>
                        </select>
                        <small *ngIf="signupForm.controls['state'].errors && checkForm" class="text-danger">Select Your State</small>
                    </div>

                    <div class="form-group">
                        <label for="">City</label>
                        <select formControlName="city" class="form-control" [ngClass]="{'is-invalid' : signupForm.controls['city'].errors && checkForm }">
                            <option>Select</option>
                            <option *ngFor="let c of allCity">{{ c.name }}</option>
                        </select>
                        <small *ngIf="signupForm.controls['city'].errors && checkForm" class="text-danger">Select Your City</small>
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="male" class="custom-control-input" [ngClass]="{'is-invalid' : signupForm.controls['gender'].errors && checkForm }" id="male" formControlName="gender" >
                            <label class="custom-control-label" for="male">Male</label>
                          </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="female" class="custom-control-input is-invalid" [ngClass]="{'is-invalid' : signupForm.controls['gender'].errors && checkForm }" id="female" formControlName="gender" >
                            <label class="custom-control-label" for="female">Female</label>
                        </div>
                        
                        <br />
                        <small class="text-danger" *ngIf="signupForm.controls['gender'].errors && checkForm">Select Your Gender</small>
                    </div>
                    <div class="form-group">
                        <label for="">Contact</label>
                        <input type="text" formControlName="contact" [ngClass]="{'is-invalid' : signupForm.controls['contact'].errors && checkForm }" class="form-control" />
                        <div *ngIf="signupForm.controls['contact'].errors && checkForm" class="text-danger">
                            <small *ngIf="signupForm.controls['contact'].errors['required']">Insert Your Contact Number</small>
                            <small *ngIf="signupForm.controls['contact'].errors['numErr']">Contact Number, only in Digit</small>
                            <small *ngIf="signupForm.controls['contact'].errors['lengthErr']">Contact Number should be 10 Digit</small>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" (click)="save()" value="Signup" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
