<%- include('../includes/header') %>
<div class="container" style="min-height: 700px; margin-top: 80px;">
    <form action="/student/save" method="post">
    
    <div class="row">
        <div class="col-md-6 offset-md-3 my-4">
            <div class="form-group">
                <label for="x">Full Name</label>
                <input type="text" id="x" name="fullname" class="form-control" />
            </div>
            <div class="form-group">
                <label for="">Age</label>
                <input type="text" name="age" class="form-control" />
            </div>
            <div class="form-group">
                <label for="">Fee</label>
                <input type="text" name="fee" class="form-control" />
            </div>
            <div class="form-group">
                <label for="">Gender</label>
                <Br />
                <label for="male">Male</label> <input value="male" id="male" type="radio" name="gender"  />
                <label for="female">Female</label> <input value="female" id="female" type="radio" name="gender"  />
            </div>
            <div class="form-group">
                <label for="">City</label>
                <select class="form-control" name="city">
                    <option>Select</option>
                    <!-- <% city.forEach(x=>{ %>
                        <option><%= x.name %></option>
                    <% }) %> -->
                </select>
            </div>
            <div class="form-group">
                <label for="">Address</label>
                <textarea class="form-control" name="address"></textarea>
            </div>
            <div class="form-group">
                <label for="">Skills</label>
                <br />
                <br />
                Reading <input type="checkbox" value="reading"  name="skills"/>
                Writing <input type="checkbox" value="writing" name="skills"/>
                Singing <input type="checkbox" value="singing" name="skills"/>
            </div>
            <Br />
            <br />
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
    </form>

</div>


<%- include('../includes/footer') %>
