<%- include('../includes/header') %>
<div class="container my-4" style="min-height: 700px;">
            <div class="row">
                <div class="col-md-12">
                    <h2>Home Page</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero totam earum perspiciatis, non excepturi odit ut perferendis accusamus illo consequuntur adipisci commodi obcaecati cupiditate. Provident numquam at natus iusto veritatis?</p>
                </div>
            </div>
        </div>
    <%- include('../includes/footer') %>