<%- include("../includes/header")  %>

<%- include('../includes/slider') %>

<div class="container" style="min-height:700px">
<h1>About Page</h1>
</div>

<%- include("../includes/footer") %>
    
</body>
</html>