<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>index page</h1> 
   <h2> <%= name[2] %></h2>
   <% for(var a=1; a<=10; a++) { %>
   <h2><%= a  %></h2> 
 
 <% } %>

 <!-- this is the if else code  -->
<% if(x==true){ %>
<h1>hi </h1>
    <% }  else { %>
<h1>hello</h1>
        <% } %>
</body>
</html>