<div class="container" style="min-height: 400px;">
    <div class="row">
        <div class="col-md-12">
            <h3>About Page</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia ipsum corrupti doloribus numquam, error explicabo laborum vel aut autem ipsam accusantium amet eius culpa quod facilis neque alias repellat iusto?</p>
        </div>
        
    </div>
</div>
<div class="popular-items section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <app-product-box [pro]="info"></app-product-box>
            </div>
            
        </div>

    </div>
</div>



<!-- <app-new-arrival></app-new-arrival> -->
